VITE_WF_MOBILE=false
VITE_WF_SCRIPTS=cdn
VITE_WF_MAPTYPE=3d
VITE_WF_PROJECT=demo
VITE_WF_API=cdn
VITE_WF_LANGUAGE=en
VITE_WF_MENU=true
VITE_WF_ALIGN=right
VITE_WT_GROUP=
VITE_WF_CLASSES=
VITE_WF_HEIGHT=100
VITE_WF_PATH_BUTTON=true
VITE_WF_ACCESSIBILITY_PATH_BUTTON=false
VITE_WF_NAVIGATE_BUTTON=false

new Env

VITE_WF_MOBILE=true

VITE_WF_SCRIPTS=cdn

VITE_WF_MAPTYPE=2d

VITE_WF_PROJECT=62bb5a09a56bd27dc93f435806718997

VITE_WF_API=cdn

VITE_WF_LANGUAGE=en

VITE_WF_MENU=false

VITE_WF_ALIGN=left

VITE_WT_GROUP=

VITE_WF_CLASSES=

VITE_WF_HEIGHT=100

VITE_WF_PATH_BUTTON=true

VITE_WF_ACCESSIBILITY_PATH_BUTTON=false

VITE_WF_SHOW_YAH=true

VITE_WF_COMPASS_BUTTON=true

VITE_WF_NAVIGATE_BUTTON=true